
.views-view-grid tbody th, .views-view-grid tbody td {
  border: solid black;
  border-width: 1px;
}

.views-view-grid table.cols-1 th.row-header {width: 20%;}
.views-view-grid table.cols-1 td {width: 80%;}
.views-view-grid table.cols-2 th.row-header {width: 20%;}
.views-view-grid table.cols-2 td {width: 40%;}
.views-view-grid table.cols-3 td {width: 30%;}
.views-view-grid table.cols-4 td {width: 23%;}
.views-view-grid table.cols-5 td {width: 18%;}
.views-view-grid table.cols-6 td {width: 15%;}
.views-view-grid table.cols-7 td {width: 13%;}
.views-view-grid table.cols-8 td {width: 12%;}
.views-view-grid table.cols-9 td {width: 10%;}